<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873903200845-kaglnsd4u75jomd4n4sfpsmo6j9ss3k8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873903200845-kaglnsd4u75jomd4n4sfpsmo6j9ss3k8</string>
	<key>API_KEY</key>
	<string>AIzaSyAvoV-9uFdYlGnb1yab-WIGW76ZjnAsAIw</string>
	<key>GCM_SENDER_ID</key>
	<string>873903200845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projectPi</string>
	<key>PROJECT_ID</key>
	<string>project-penulisan-ilmiah-4267a</string>
	<key>STORAGE_BUCKET</key>
	<string>project-penulisan-ilmiah-4267a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873903200845:ios:8a0c6382e45bbf6517da04</string>
</dict>
</plist>